body {
  background-color: #111111;
  color: #FFEC9A;
  padding-top: 70px;
  font-size: 20px;
  z-index: 100;
  background: -moz-radial-gradient(orange, black);
  background: -webkit-gradient(radial, center center, 80, center center, 400, from(orange), to(black)); }

.container {
  text-align: center; }
  .container h1 {
    margin-bottom: 50px; }
  .container h3 {
    margin-bottom: 30px; }
  .container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 60px; }
    
div {
  text-align: center; }

p {
  margin-bottom: 20px; }

i {
  font-size: 1.3em;
  color: inherit; }

.footer {
  margin-top: 60px;
  background-color: #e37448; }
