body {
  background-color: #111111;
  color: #FFF9E8;
  padding-top: 20px;
  font-size: 15px;
  z-index: 100;
  /* 背景の円形グラデ */
  background: -moz-radial-gradient(orange, black);
  background: -webkit-gradient(radial, center center, 20, center center, 400, from(orange), to(black));
}

div #main {
  padding-bottom: 50px;
}

.container {
  text-align: center; /* テキストを中央に */
}
.container h1 {
  margin-bottom: 10px;
}
#title {
  color: #FFF9E8;
}
.container h3 {
  margin-bottom: 30px;
}
.container img {
  max-width: 100%;
  height: auto;
}
.container ol li {
  font-size: 14px;
}
.container button {
  margin-bottom: 20px;
}
.container a {
  text-decoration: none; /* リンクの下線を消す */
}

p:not(#first-line, .footer) {
  margin-bottom: 20px;
}

/* fontawesome */
i {
  font-size: 1.3em;
  color: inherit;
}

/* Bootstrap */
.btn-warning {
  background-color: #ff9100;
  border-color: #ff9933;
}

/* 一番下のやつ */
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 50px;
  margin-top: 30px;
  background-color: #ff9100;
  text-align: center;
}

audio {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* 吹き出し */
.arrow_box {
  position: relative;
  background: #F8A21C;
  border: 4px solid #FF6200;
}
.arrow_box:after, .arrow_box:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.arrow_box:after {
  border-color: rgba(248, 162, 28, 0);
  border-bottom-color: #F8A21C;
  border-width: 30px;
  margin-left: -30px;
}
.arrow_box:before {
  border-color: rgba(255, 98, 0, 0);
  border-bottom-color: #FF6200;
  border-width: 36px;
  margin-left: -36px;
}
.arrow_box p {
  margin-top: 10px;
}